body {
  font-family: 'Roboto', sans-serif;
}
.h2 {
  font-family: 'Courier New', Courier, monospace;
}
.data-section div {

  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.data-box {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #ebf6cf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#tomato {
    margin-right: 30%;
    height: 40%;
    width: 40%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px; 
  }
  
  .data-section {
    flex: 1; 
   
  }
  
  .blink {
    animation: blink-animation 1.5s infinite;
  }
  
  @keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  @media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: flex-start;
    }
    
    #tomato {
        margin: 0 auto;
        width: 80%; 
        height: auto;
    }

    .data-section {
        width: 100%; 
    }

    p, h2, h4 {
        font-size: 16px; 
    }
}